
@{
    ViewBag.Title = "کمپینهای شارژ";
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}
@{
    List<object> values = new List<object>();

    foreach (var value in Enum.GetValues(typeof(SharedLibrary.MessageHandler.CampaignChargeStatus)))
    {
        values.Add(new
        {

            text = value.ToString(),
            value = ((int)value).ToString()
        });
    }

    List<object> valuesCampaignType = new List<object>();

    foreach (var value in Enum.GetValues(typeof(SharedLibrary.MessageHandler.CampaignChargeType)))
    {
        string displayString;

        if ((SharedLibrary.MessageHandler.CampaignChargeType)value == SharedLibrary.MessageHandler.CampaignChargeType.OneStep)
        {
            displayString = "تک مرحله ای";
        }
        else
        {
            displayString = "دو مرحله ای";
        }
        valuesCampaignType.Add(new
        {

            text = displayString,
            value = ((int)value).ToString()
        });


    }

}
@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-danger", style = "color:red" })
<button id="newCampaign" class="k-primary k-button" style="width: 10%;margin-right:10px" onclick="window.location = '/Tools/CampaignsCharges/CampaignsCharges_Edit';"><span>تعریف کمپین جدید</span></button>
<div class="k-rtl" id="grid"></div>
<script>

    $("#grid").kendoGrid({

       columns: [
            { field: "Id", title: "شناسه" },
            { field: "campaignName", title: "عنوان" },
            { field: "campaignType", title: "نوع", values: @(Html.Raw(Json.Encode(valuesCampaignType))) },
            { field: "serviceName", title: "سرویس" },
            { field: "ServiceId", title: "شناسه سرویس", hidden:true},
            { field: "price", title: "قیمت" },
            { field: "keyword", title: "کلمه کلیدی" },
            { field: "message", title: "پیام کمپین", width:"50%" },
            { field: "status", title: "وضعیت", values: @(Html.Raw(Json.Encode(values))) },
            { field: "startTime", title: "شروع" },
            { field: "endTime", title: "پایان" },
            { field: "replaceWelcomeMessage", title: "Welcome" },
            { field: "TotalRequests", title: "درخواست" },
            { field: "TotalPaid", title: "انجام شده" },
            {
                command: [{ name: "myEdit", iconClass:"k-icon k-edit",text:" ", click:redirectToEdit},"destroy"
                ], width: 100
            },

        ],
        dataSource: {
            error: function (e) { grid_error_handler(e) },
            requestEnd: function (e) { if (e.type == "destroy" && !e.response.Errors)alert('حذف انجام شد');},
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "CampaignsCharges/CampaignsCharges_Read",
                    type: "POST"
                },
                destroy: {
                    url: "CampaignsCharges/CampaignsCharges_Delete",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    },


                },
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "text", editable: false },
                    },

                }
            },

            serverSorting: true,
            serverFiltering: true,
            pageSize: 10,
            serverPaging: true,
            sort: [
                { field: "Id", dir: "asc" }
            ],

        },
        columnMenu: true,
        editable: {

            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },

            confirmation: "آیا می خواهید این ‌کمپین را حذف کنید؟ توجه داشته باشید امکان حذف کمپینهایی که درخواست شارژ داشته باشند وجود ندارد",
        },
        pageable: {
            refresh: true,
            pageSizes: [10, 25, 50, 100],
            buttonCount: 10,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,


    });

    function redirectToEdit(e) {
        //alert(e.currentTarget);
        e.preventDefault();
        var tr = $(e.target).closest("tr");
        var data = this.dataItem(tr);
        //alert("Details for: " + data.Id);
        window.location = "/Tools/CampaignsCharges/CampaignsCharges_Edit/" + data.id;
    }

    function grid_error_handler(e) {


        if (e.errors) {
            var grid = $('#grid').data('kendoGrid');
            $("#grid").data('kendoGrid').cancelChanges();
            //prevent the dataBinding from refreshing so the current edit remains
            grid.one("dataBinding", function (x) {
                //x.preventDefault();
                //              alert('b');
                var message = "";
                $.each(e.errors, function (key, value) {
                    //                    alert('c');
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
                //CBmessagebox.Warning(message);
            });
        }
    }
</script>


