@model Portal.Models.User_ChangePasswordViewModel
@{
    if (Model != null)
    {
        var portal = new SharedLibrary.Models.PortalEntities();
        var userName = portal.AspNetUsers.Where(o => o.Id == Model.userId).Select(o => o.UserName).FirstOrDefault();
        ViewBag.Title = "تغییر رمز عبور " + userName;
        if (Model.SuccessfullySaved)
        {
            <script>alert('رمز با موفقیت تغییر پیدا کرد'); window.location = "/Tools/Users";</script>
        }

    }
    else
    {
        ViewBag.Title = "شناسه کاربری صحیح نمی باشد";
    }
}

<h2>@ViewBag.Title</h2>
@if (Model == null) { return; }
@using (Html.BeginForm("Users_ChangePassword", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.HiddenFor(m => m.userId)
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="تغییر رمز عبور" class="btn btn-default" />
        </div>
    </div>
}
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@