<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style>
        .k-header h1 {
            margin: 0;
            padding: 30px 15px;
            font-size: 32px;
            font-weight: lighter;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .container-fluid .text-muted {
            margin: 20px 0;
        }

        .placeholders {
            margin: 30px auto;
        }

        .placeholder img {
            display: inline-block;
        }

        p .k-button {
            margin: 0 15px 0 0;
        }

        .btn-toggle {
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: none;
            height: 48px;
        }

            .btn-toggle .k-icon {
                opacity: 1;
            }

            .btn-toggle,
            .k-primary.btn-toggle:hover,
            .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
            .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
                box-shadow: none;
                border-radius: 0;
            }

                .btn-toggle .k-i-hbars,
                .k-primary.btn-toggle:hover .k-i-hbars,
                .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
                .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
                    background-position: -80px -32px;
                }

        @@media (max-width: 768px) {
            .k-item {
                display: block;
                clear: both;
                float: none;
                width: 100%;
            }

            .k-header h1 {
                margin: 0;
                padding: 16px 15px 14px 60px;
                font-size: 18px;
                font-weight: lighter;
            }
        }
    </style>
    @Styles.Render("~/Content/PortalStyles")
    @Styles.Render("~/Content/kendo/2016.2.504/Styles")
    @Scripts.Render("~/bundles/kendojs")
    @Scripts.Render("~/bundles/Portaljs")
</head>
<body class="k-rtl">
    <div class="container-fluid">
        <div class="row k-header">
            <h1>پرتال دهناد</h1>
            <div id="responsive-panel">
                <div id="megaStore" class="k-content k-rtl">
                    <ul id="menu">
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                لیگ من
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("لیست لیگ ها", "Index", "LeagueList", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "MyLeague" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "MyLeague" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                دانستانه
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Danestaneh" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Danestaneh" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                موبایلیگا
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("لیست موبایل ها", "Index", "MobilesList", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Mobiliga" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Mobiliga" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                ماشین بازها
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("لیست ماشین ها", "Index", "CarBrandsList", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "MashinBazha" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "MashinBazha" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                نبرد اساطیر
                                <ul>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Soltan" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Soltan" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Soltan" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Soltan" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                سپید رود
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "SepidRood" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "SepidRood" }, null)
                                    </li>
                                </ul>
                            </li>
						    <li>
                                تیراندازی
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Tirandazi" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Tirandazi" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                بیمه کربلا
                                <ul>
                                    <li>
                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "BimeKarbala" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "BimeKarbala" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "BimeKarbala" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "BimeKarbala" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "BimeKarbala" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "BimeKarbala" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li style="float:left;">
                                @Html.Partial("_LoginPartial")
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
        </div>
    </div>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $("#menu").kendoMenu();

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>
<style>
    #megaStore {
        margin-top: 0px !important;
        margin: 30px auto;
        background: none;
    }

    #menu h2 {
        font-size: 1em;
        text-transform: uppercase;
        padding: 5px 10px;
    }

    #template img {
        margin: 5px 20px 0 0;
        float: left;
    }

    #template {
        width: 380px;
    }

        #template ol {
            float: left;
            margin: 0 0 0 30px;
            padding: 10px 10px 0 10px;
        }

        #template:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #template .k-button {
            float: left;
            clear: left;
            margin: 5px 0 5px 12px;
        }
</style>
