<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style>
        .k-header h1 {
            margin: 0;
            padding: 30px 15px;
            font-size: 32px;
            font-weight: lighter;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .container-fluid .text-muted {
            margin: 20px 0;
        }

        .placeholders {
            margin: 30px auto;
        }

        .placeholder img {
            display: inline-block;
        }

        p .k-button {
            margin: 0 15px 0 0;
        }

        .btn-toggle {
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: none;
            height: 48px;
        }

            .btn-toggle .k-icon {
                opacity: 1;
            }

            .btn-toggle,
            .k-primary.btn-toggle:hover,
            .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
            .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
                box-shadow: none;
                border-radius: 0;
            }

                .btn-toggle .k-i-hbars,
                .k-primary.btn-toggle:hover .k-i-hbars,
                .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
                .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
                    background-position: -80px -32px;
                }

        @@media (max-width: 768px) {
            .k-item {
                display: block;
                clear: both;
                float: none;
                width: 100%;
            }

            .k-header h1 {
                margin: 0;
                padding: 16px 15px 14px 60px;
                font-size: 18px;
                font-weight: lighter;
            }
        }
    </style>
    @Styles.Render("~/Content/PortalStyles")
    @Styles.Render("~/Content/kendo/2016.2.504/Styles")
    @Scripts.Render("~/bundles/kendojs")
    @Scripts.Render("~/bundles/Portaljs")
</head>
<body class="k-rtl">
    <div class="container-fluid">
        <div class="row k-header">
            <h1>پرتال</h1>
            <div id="responsive-panel">
                <div id="megaStore" class="k-content k-rtl">
                    <ul id="menu">
                        @if (Request.IsAuthenticated)
                        {
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("FederationUser"))
                            {
                                <li>
                                    سرویس های پردیس
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("FederationUser"))
                                        {
                                            <li>
                                                سپید رود (2G)
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "SepidRood" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "SepidRood" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "SepidRood" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("FederationUser"))
                                        {
                                            <li>
                                                تیراندازی (2G)
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Tirandazi" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Tirandazi" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Tirandazi" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("FederationUser"))
                                        {
                                            <li>
                                                تبریز 2018 (2G)
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Tabriz2018" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Tabriz2018" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("FederationUser"))
                                        {
                                            <li>
                                                قایقرانی (2G)
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Boating" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Boating" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Boating" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                بیمه کربلا (2G)
                                                <ul>
                                                    <li>
                                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "BimeKarbala" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("MciGroup"))
                            {
                                <li>
                                    سرویس های تله پرومو
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("NabardGahUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                نبردگاه
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "NabardGah" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "NabardGah" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "NabardGah" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "NabardGah" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "NabardGah" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "NabardGah" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }

                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("DonyayeAsatirUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                دنیای اساطیر
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "DonyayeAsatir" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "DonyayeAsatir" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "DonyayeAsatir" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "DonyayeAsatir" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "DonyayeAsatir" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "DonyayeAsatir" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("TamlyUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                تاملی
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Tamly" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Tamly" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Tamly" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Tamly" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Tamly" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Tamly" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("JabehAbzarUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                جعبه ابزار
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "JabehAbzar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "JabehAbzar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "JabehAbzar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "JabehAbzar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "JabehAbzar" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "JabehAbzar" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("ShenoYadUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                شنویاد
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "ShenoYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "ShenoYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "ShenoYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "ShenoYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "ShenoYad" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "ShenoYad" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("FitShowUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                فیت شو
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "FitShow" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "FitShow" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "FitShow" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "FitShow" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "FitShow" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "FitShow" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("TakavarUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                تکاور
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Takavar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Takavar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Takavar" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Takavar" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Takavar" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("MenchBazUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                منچ باز
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "MenchBaz" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "MenchBaz" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "MenchBaz" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "MenchBaz" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "MenchBaz" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("AvvalPodUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                اول پاد
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "AvvalPod" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "AvvalPod" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "AvvalPod" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "AvvalPod" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "AvvalPod" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("AvvalYadUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                اول یاد
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "AvvalYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "AvvalYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "AvvalYad" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "AvvalYad" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "AvvalYad" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Dezhban") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                دژبان
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Dezhban" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Dezhban" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Dezhban" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Dezhban" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Dezhban" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Tamly500User") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                آشپزخونه
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Ashpazkhoone" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Ashpazkhoone" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Ashpazkhoone" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Ashpazkhoone" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Ashpazkhoone" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Ashpazkhoone" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("ShenoYad500") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                شنویاد 500
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "ShenoYad500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "ShenoYad500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "ShenoYad500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "ShenoYad500" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "ShenoYad500" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("AvvalPod500") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                اول پاد 500
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "AvvalPod500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "AvvalPod500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "AvvalPod500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "AvvalPod500" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "AvvalPod500" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("BehAmooz500User") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                به آموز 500
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "BehAmooz500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "BehAmooz500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "BehAmooz500" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "BehAmooz500" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "BehAmooz500" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("AsemanUser") || ViewContext.HttpContext.User.IsInRole("Spectator"))
                                        {
                                            <li>
                                                آسمان
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Aseman" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Aseman" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Aseman" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Aseman" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Aseman" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                بیمه ایران (2G)
                                                <ul>
                                                    <li>
                                                        @Html.ActionLink("محتوای اتوشارژ", "Index", "AutochargeContents", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("محتوای Eventbase", "Index", "EventbaseContents", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("تعیین امتیازات", "Index", "Points", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("تنظیمات", "Index", "Settings", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "BimeIran" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "BimeIran" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("HubGroup"))
                            {
                                <li>
                                    سرویس های هاب
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("ShahreKalamehUser") || ViewContext.HttpContext.User.IsInRole("Advertise"))
                                        {
                                            <li>
                                                شهر کلمه
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "ShahreKalameh" }, null)
                                                        </li>

                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "ShahreKalameh" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "ShahreKalameh" }, null)
                                                        </li>
                                                    }
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Advertise"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "ShahreKalameh" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "ShahreKalameh" }, null)
                                                    </li>

                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SoratyUser"))
                                        {
                                            <li>
                                                سرعتی
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Soraty" }, null)
                                                        </li>

                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Soraty" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Soraty" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Soraty" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Soraty" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Soraty" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("DefendIranUser"))
                                        {
                                            <li>
                                                هشتمین حمله ایران
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "DefendIran" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "DefendIran" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "DefendIran" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "DefendIran" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "DefendIran" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("MobinOneGroup"))
                            {
                                <li>
                                    سرویس های مبین وان
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("NebulaUser"))
                                        {
                                            <li>
                                                نبولا
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Nebula" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Nebula" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Nebula" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Nebula" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Nebula" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Phantom"))
                                        {
                                            <li>
                                                فانتوم
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("مانیتورینگ", "Index", "Monitoring", new { area = "Phantom" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Phantom" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Phantom" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Phantom" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Phantom" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Phantom" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Medio"))
                                        {
                                            <li>
                                                مدیو
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Medio" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Medio" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Medio" }, null)
                                                        </li>
                                                        <li>
                                                            @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Medio" }, null)
                                                        </li>
                                                    }
                                                    <li>
                                                        @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Medio" }, null)
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("IrancellGroup"))
                            {
                                <li>
                                    ایرانسل
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                ته چین
                                                <ul>

                                                    <li>
                                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "TahChin" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "TahChin" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "TahChin" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "TahChin" }, null)
                                                    </li>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("TahChinUser"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "TahChin" }, null)
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("MusicYadUser"))
                                        {
                                            <li>
                                                موزیک یاد
                                                <ul>

                                                    <li>
                                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "MusicYad" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "MusicYad" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "MusicYad" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "MusicYad" }, null)
                                                    </li>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("MusicYadUser"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "MusicYad" }, null)
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("DambelUser"))
                                        {
                                            <li>
                                                دمبل
                                                <ul>

                                                    <li>
                                                        @Html.ActionLink("پیغام های کاربری", "Index", "MessagesTemplate", new { area = "Dambel" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("ارسال پیغام مستقیم", "Index", "SendDirectMessage", new { area = "Dambel" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های دریافت شده", "Index", "Receive", new { area = "Dambel" }, null)
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("پیغام های ارسال شده", "Index", "SentMessages", new { area = "Dambel" }, null)
                                                    </li>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("DambelUser"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Dambel" }, null)
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("TCTGroup"))
                            {
                                <li>
                                    مخابرات
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                دارچین
                                                <ul>
                                                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("DarchinUser"))
                                                    {
                                                        <li>
                                                            @Html.ActionLink("گزارشات", "Index", "Statistics", new { area = "Darchin" }, null)
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("TelepromoUser"))
                            {
                                <li>
                                    گزارشات
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("TelepromoUser"))
                                        {
                                            <li>
                                                @Html.ActionLink("لاگ کاربران", "Index", "SubscribersLog", new { area = "Statistics" }, null)
                                            </li>
                                        }
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                @Html.ActionLink("گزارش روزانه سرویس ها", "Index", "ServiceDailyStatistics", new { area = "Statistics" }, null)
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <li>
                                    ابزار ها
                                    <ul>
                                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                        {
                                            <li>
                                                @Html.ActionLink("ارسال بالک", "Index", "SendBulkMessage", new { area = "Tools" }, null)
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            <li class="last-item" style="float:left;">
                                @Html.Partial("_LoginPartial")
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
        </div>
    </div>

    @RenderBody()

    <script>
        $(document).ready(function () {
            $("#menu").kendoMenu();

            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>
<style>
    #megaStore {
        margin-top: 0px !important;
        margin: 30px auto;
        background: none;
    }

    #menu h2 {
        font-size: 1em;
        text-transform: uppercase;
        padding: 5px 10px;
    }

    #template img {
        margin: 5px 20px 0 0;
        float: left;
    }

    #template {
        width: 380px;
    }

        #template ol {
            float: left;
            margin: 0 0 0 30px;
            padding: 10px 10px 0 10px;
        }

        #template:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        #template .k-button {
            float: left;
            clear: left;
            margin: 5px 0 5px 12px;
        }

    .last-item > .k-animation-container {
        left: 0px !important;
    }
</style>
