@using Microsoft.AspNet.Identity

@Html.AntiForgeryToken()
@User.Identity.GetUserName()
<ul>
    <li>
        @Html.ActionLink("تغییر رمز عبور", "ChangePassword", "Manage", new { area = "" }, new { })
        
    </li>
    @*@if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <li>
            @Html.ActionLink("ایجاد کاربر جدید", "Register", "Account", new { area = "" }, new { })
        </li>
    }*@
    <li>
        @Html.ActionLink("خروج", "LogOff", "Account", new { area = "" }, new { })
    </li>
</ul>
@*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    <ul>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }*@
